*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, sans-serif;
  background-image: linear-gradient(16deg, rgba(159,131,240, 0.21) 0%, rgba(159,131,240, 0.21) 25%,transparent 25%, transparent 96%,rgba(144,0,0, 0.02) 96%, rgba(144,0,0, 0.02) 100%),linear-gradient(236deg, rgba(194,210,255, 0.02) 0%, rgba(194,210,255, 0.02) 53%,transparent 53%, transparent 59%,rgb(239,235,255) 59%, rgb(239,235,255) 100%),linear-gradient(284deg, rgb(253,245,255) 0%, rgb(253,245,255) 46%,transparent 46%, transparent 71%,rgba(137,101,242, 0.11) 71%, rgba(137,101,242, 0.11) 100%),linear-gradient(316deg, rgba(255,255,255, 0.02) 0%, rgba(255,255,255, 0.02) 26%,transparent 26%, transparent 49%,rgb(248,244,255) 49%, rgb(248,244,255) 100%),linear-gradient(90deg, rgba(214,200,255, 0.21),rgba(214,200,255, 0.21));
  background-position: center;
  background-repeat: no-repeat;
  width: 100svw;
  height: 100svh;
}
:root{
  --primary-color:        #8965f2;
  --secondary-color:      #f28965;
  --primary-font:         #000000;
  --secondary-font:       #ffffff;
}

/* Navigation Bar */
nav{
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--secondary-font);
}
nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2em;
}
nav a{
  text-decoration: none;
  color: var(--secondary-font);
  transition: all 1s;
  padding: 0.6em 1em;
}
nav a:hover{
  transform: scale(1.15);
}
.text-box{
  width: 90%;
  color: #000000be;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 67px; 
}
.text-box p{
  margin: 10px 0 40px;
  font-size: larger;
  color: rgba(0, 0, 0, 0.877);

}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 15px;
  background-color: #6d53ff;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
.hero-btn:hover{
  border: 1px solid #0302006e;
  background: #350a6c;
  transition: 1s;
}

@media(max-width: 700px){
  .text-box h1{
      font-size: 30px;
  }
}
